* {
    color: #747704;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
}


h1{
    font-size: 48px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;  
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    text-align: right;
    border-bottom: 2px solid #BCBBBB;
    padding: 10px 0px 10px 0;
}

.subhead{
    font-size: 18px;
}
    
.main {
    margin: 20px 0 20px 0;
}

.main a{
    text-decoration: none;
    font-size: 14px;
}

.section-head {
    color: #BCBBBB;
    text-align: left;
padding-top: 25px;
}

.work-element {
    text-align: center;
}

#left-element{
    padding: 0px 10px 0 0;
}

#middle-element{
    padding: 0 5px 0 5px;
}
#right-element{
    padding: 0 0px 0px 10px;
}