* {
    color: #1a5869;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
}


h1{
    font-size: 48px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;  
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
    color: #759aa5;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.header {
    text-align: right;
    border-bottom: 2px solid #BCBBBB;
    padding: 10px 0px 10px 0;
}

.header h2{
    font-size: 18px;
    text-transform: uppercase;
}

.logo{
    text-align: left;
}

.header img{
    max-height: 110px;
 
}
    
.main {
    margin: 20px 0 20px 0;
}

.main a{
    text-decoration: none;
    font-size: 12px;
}

.section-head {
    color: #BCBBBB;
    text-align: left;
    padding: 25px 0 10px 0;
}

.work-element {
    text-align: center;
}

#left-element{
    padding: 0px 14px 0 0;
}

#middle-element{
    padding: 0 7px 0 7px;
}
#right-element{
    padding: 0 0px 0px 14px;
}